# R project files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# DuckDB setup files
setup_db.R
create_aggregated_table.R

# Parquet files (optional, if large or sensitive)
*.parquet

# Log files
*.log

# MacOS files
.DS_Store

# rsconnect files
rsconnect/

# Random files
test_go_enrich.R
